/* Create three equal columns that floats next to each other */
           
        * {
          box-sizing: border-box;
        }


        .column2 {
              float: left;
              width: 50%;
            margin-left: 40px;
            margin-right: 40px
            }

        .appstorebuttons {
              float: left;
              width: 40%;
            margin: 10px;
            }

                .icon{
                    float: left;
                    width: 25%; 
                    margin-left: 60px;
                    margin-top: 20px;
                            
                    }

            .slideshow{
                float: left;
                width: 40%;
            }

            /* Clear floats after the columns */
            .row:after {
              content: "";
              display: table;
              clear: both;
            }

            .ad {
            float: right;
            width:60%;
        }



            .center{
                display: block;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
            }

            .appstore{
                min-width: 50px; 
                max-width: 300px;
                display: block;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
            border-radius: 0;
        }

        .vemno{
            min-width: 100px; 
            max-width: 250px;
            padding: 30px
        }
        .donate{
            float: left;
            width: 70%;
            padding: 30px 
        }
        .vemnoContainer{
            float: left; width: 30%
        }

 @media screen and (max-width: 700px) {
           

                .column2 {
                    float: center;
                      width: 90%;
                    margin-left: 20px;
                    }
     
              .ad {
                  float: center;
                  width: 90%;
                }
     
                .slideshow{
                float: center;
                width: 80%;
                margin-left: 20px;

            }

                    .icon{
                        float: center;
                        width: 50%;
                        margin-left: 40px;
                    }
     
     .appstorebuttons {
              float: left;
              width: 100%;
            }

      .appstore{
                min-width: 50px; 
                max-width: 300px;
                margin-left: 0px;
          margin-right: 0px;
              width: 100%;
            border-radius: 0;
        }
     .donate{
            float: left;
            width: 100%;
            padding-bottom: 0px;
        }
     .vemnoContainer{
            width: 100%;
            padding: 0px;
        }
     .vemno{
            min-width: 100px; 
            max-width: 250px;
        }
                
        }