img {
  border-radius: 35px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
} 
p1 {
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
} 
 @media screen and (max-width: 700px) {
         
     h{
         font-size: 12px;
     }
h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
} 
p1 {
    font-size: 15px;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
} 
                            
        }